﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | @ViewData["ProjectName"] </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/css/colors.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/js/core/app.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/inputs/passy.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/inputs/formatter.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/inputs/autosize.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/inputs/maxlength.min.js"></script>
    <script type="text/javascript" src="~/js/pages/form_controls_extended.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/inputs/typeahead/handlebars.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/js/pages/form_select2.js"></script>
    <script type="text/javascript" src="~/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/notifications/sweet_alert.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/js/core/table.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <div class="navbar navbar-default header-highlight">
        <div class="navbar-header">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/logo_light.png" alt=""></a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
		@RenderSection("NavbarMobile", required: false)
    </div>
    <div class="page-container">
        <div class="page-content">
            <partial name="_Sidebar" />
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
